{% extends "base/main.html" %}

{% block content %}
<style>
  .addclients-btn{
    background-color: #3478ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    padding: 2vh 5vh 2vh 5vh;
    margin: 0 0 0 3.5%;
  }
  .addclients-btn > a{
    text-decoration: none;
    color: white;
  }
  .addclients-btn:hover{
    box-shadow: 1px 0px 10px lightblue;
  }
</style>
<div class="container">
  <div class="clientpage-head row">
    <div class="col-9">
      <h1>Clients</h1>
    </div>
    <div class="addclients-btn col-2">
      <a href="{% url 'addTask' %}">
        + Add new task
      </a>
    </div>
  </div>
  
  <div class="row mt-5">
    {% for client in clients %}
    <div class="card" style="width: 18rem; margin: 1em; padding-top: 1em;">
      <img src="https://images.pexels.com/photos/8204392/pexels-photo-8204392.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{client.name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}