{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<div class="row main_section">
  <div class="row">
      <div class="tasks_heading">
          <div>
            <h1>Tasks</h>
          </div>
          <div class="newtask_button">
            <a href="{% url 'addTask' %}">
              + Add new task
            </a>
          </div>
      </div>
  </div>
  <div class="row" style="padding: 2em 0 1em 0.8em;">
      <div>
        <h3>Today Agenda</h3>
      </div>
  </div>
  <div class="row table" style="padding: 0.5em 0 0 1.5em;">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID ~ #</th>
              <th scope="col">Date</th>
              <th scope="col">Task</th>
              <th scope="col">Client</th>
              <th scope="col">Assignee</th>
              <th scope="col">Progress</th>
              <th scope="col">Due</th>
              <th scope="col">Post</th>
              <th scope="col">Content</th>
              <th scope="col">Manage</th>
            </tr>
          </thead>
          <tbody>
            {% for work in works %}
              <tr>
                <th scope="row">{{work.id}}</th>
                <td>{{work.date}}</td>
                <td>{{work.task}}</td>
                <td>{{work.client}}</td>
                <td>{{work.asignee}}</td>
                <td>{{work.progress}}</td>
                <td>{{work.due}}</td>
                <td>{{work.post}}</td>
                <td class="col-2 text-truncate" style="max-width: 150px"><a href="/description/{{work.id}}/">{{work.content}}</a></td>
                <td>
                  <a href="{% url 'updateTask' work.id %}" style="color: white;">
                    <img style="width: 30px;" src="{% static "/images/update-icon.svg" %}" alt="Update">
                  </a>
                  <a href="{% url 'deleteTask' work.id %}" style="color: white; width: 10px; padding-left: 1em;">
                    <img style="width: 25px;" src="{% static "/images/delete-icon.svg" %}" alt="Delete">
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
</div>
{% endblock content %}