{% load static %}
{% if request.user.is_authenticated %}
    <div class="photo">
        {% for employee in employees %}
            <div class="user_photo">
                <img src="{{ user.employee.profile_pic.url }}" alt="Profile photo" height="55px">
            </div>
        {% endfor %}
    </div>
    <div class="user_name">
        <p><b>{{user.username}}</b></p>
        <small>User Role</small>
    </div>
{% else %}
    <div>
        <a href="{% url "login" %}">Login</a>
    </div>
{% endif %}