{% load static %}
<style>
    .user_photo > img{
    border-radius: 50%;
    }
    .topnav_profile >*{
        margin: 0 1em 0 0;
    }
    .user_name > p{
        margin: 0;
    }
</style>
{% if request.user.is_authenticated %}
    <div class="photo">
        <div class="user_photo" >
            <img src="https://goscala.in/imagescrm/companylogo.png" alt="Profile photo" style="border-radius: 70%; height: 25px;">
        </div>
    </div>
    <div class="user_name">
        <p><b>{{request.user.employee.name}}</b></p>
        <small>User Role</small>
    </div>
{% else %}
    <div>
        <a href="{% url "login" %}">Login</a>
    </div>
{% endif %}